.btn {
    border-radius: 2px;
    border: none;
    font-family: $roboto;
    padding: 2px 10px;
    outline: none;
    cursor: pointer;
}

.btn-yellow {
    background-color: $yellow;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: darken($yellow, 20%);
    }
}