.card {
    background-color: $lightyellow;
    font-family: $roboto;
    margin-bottom: $smallpadding;

    .card-header {
        background-color: $yellow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;

        p {
            margin: 0px;
            font-size: 13px;
        }

        small {
            color: $lightgrey;
        }
    }

    .card-body {
        padding: 5px 10px;

        p {
            margin: 0;
        }
    }
}
