//Fonts
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$marker:'Permanent Marker',
cursive;

$roboto:'Roboto',
sans-serif;


//Font-Sizes
$navfontsize:35px;

//Paddings
$smallpadding:1rem;
$mediumpadding:2rem;

//Colors
$yellow: #F7BA2D;
$dark: #231F20;
$lightyellow:#FFFEEC;

//Border
$border:3px solid $yellow;