.form-group {
    font-family: $roboto;
    display: flex;
    flex-direction: column;

    label {
        font-size: 20px;
        color: $lightyellow;
        padding: 5px;
        float: right;
        cursor: pointer;
    }

    .form-control {
        border-radius: 3px;
        border: none;
        outline: none;
        background-color: $lightyellow;
        height: 25px;
        padding: 3px;

    }

    textarea.form-control {
        height: 80px;
        resize: vertical;
        max-height: 250px;
    }

    small {
        color: red;
        padding-top: 5px;
    }

}


.stars-form {
    background-color: $lightyellow;

    &:hover {
        background-color: $yellow;
    }
}