.inspire {
    padding: 20px;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
        color: white;
        font-family: $roboto;
    }

    &-box {
        border: $border;
        display: flex;
        max-height: 400px;

    }

    &-left {
        min-height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &-right {
        padding: 5px;
        text-align: left;

        h3 {
            margin: 0;
            padding: 0;
        }

        p {
            font-family: $roboto;
            color: $yellow;
        }

        a {
            text-decoration: none;
            color: $yellow;
            text-align: right;
        }
    }
}

.container {
    .post {
        text-align: center;
        padding-bottom: $mediumpadding;

        .createdby {
            padding-bottom: $smallpadding;

            h1 {
                margin-bottom: 0;
            }

            small {
                font-family: $roboto;
            }

            p {
                font-size: 12px;
                color: lightgray;
            }
        }
    }

    p {
        color: white;
        font-family: $roboto;
    }

    label {
        text-align: left;
    }

    .comments {
        padding-bottom: $mediumpadding;

        h2 {
            text-align: center;
        }

        input[type="submit"] {
            padding: 5px;
        }
    }
}