.meny {
    margin: $mediumpadding;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: $mediumpadding;

    &-item {
        border: 2px solid $yellow;
        padding: $smallpadding;
        border-radius: 3px;

        &-dish {
            font-family: $marker;
            color: $yellow;
            margin: 0;
            padding: 0;
            font-weight: 400;
        }

        &-category {
            color: darken($lightyellow, 0.7);
            font-family: $roboto;
            font-style: italic;
        }

        &-description {
            color: $lightyellow;
            line-height: 1.5rem;
            font-family: $roboto;
        }

        &-prices {
            font-family: $marker;
            text-align: center;
            color: $yellow;

            small {
                color: $blue;
            }
        }
    }
}

.meny {
    &-brand {
        color: $lightyellow;
        font-family: $marker;
        text-align: center;
        font-weight: 400;
        margin-bottom: 0px;
    }

    &-group-title {
        color: $lightyellow;
        text-decoration: underline;
        font-family: $marker;
        font-weight: 400;
        margin: 0px;
    }

    &-dish {
        &-name {
            color: $yellow;
            font-family: $marker;
            font-weight: 400;
            margin: 0px;
        }

        &-description {
            color: $lightyellow;
            font-family: $roboto;
            font-weight: 400;
        }

        &-price {
            color: $blue;
            font-family: $roboto;
            font-weight: 400;
        }
    }
}