.container {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.center {
    text-align: center;
}

.g-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $mediumpadding;
}

.hr-yellow {
    border: none;
    background-color: $yellow;
    height: 1px;
    margin-bottom: $smallpadding;
    margin-top: $mediumpadding;
}

.header {
    color: $yellow;
    font-family: $marker;
    font-weight: 400;
}

.subheader {
    color: $lightyellow;
    font-family: $roboto;
    font-weight: 400;
}

.expand {
    grid-column: 1/-1;
    border-top: none;
}

.mb-small {
    margin-bottom: $smallpadding;
}

.p-small {
    padding: $smallpadding;
}

.hidden {
    display: none;
}

.font-marker {
    font-family: $marker;
}

.font-roboto {
    font-family: $roboto;
}

.text-yellow {
    color: $yellow;
}

.text-lightyellow {
    color: $lightyellow;
}

.text-dark {
    color: $dark;
}

.font-w400 {
    font-weight: 400;
}

.header-white {
    font-family: $marker;
    color: white;
    font-weight: 400;
}