@import "config";

body,
html {
    margin: 0;
    padding: 0;
    background-color: $dark;
}

.no-border {
    border: 0px !important;
}


@import "navbar";
@import "instagram";
@import "info";
@import "footer";
@import "forms";